* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  padding: 10px;
  border: 2px dashed darkblue;
  border-radius: 10px;
}

h3 {
  color: darkblue;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 2px;
  margin-bottom: 10px;
}

.result-color {
  width: 300px;
  height: 200px;
  border: 2px solid darkblue;
  border-radius: 10px 50%;
  margin-bottom: 20px;
}

.input-wraper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.input-wraper label {
  font-weight: 600;
}

.input-wraper input {
  width: 90%;
  cursor: pointer;
}

.button-container .info {
  width: 100%;
  height: 50px;
  font-size: 20px;
  border: 2px solid darkblue;
  border-radius: 10px;
  background-color: aliceblue;
  color: darkblue;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy {
  width: 100%;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  background-color: darkblue;
  letter-spacing: 3px;
  border: 2px solid darkblue;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.copy:hover {
  color: darkblue;
  background-color: transparent;
}
